.cell {
  width: var(--cell-dimension);
  height: var(--cell-dimension);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  font-size: calc(var(--cell-dimension) * 0.6);
  color: #0c1b33;
  background-color: #23ce6b;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  
.cell:hover {
  background-color: #264027;
}

.cell--revealed, .cell--revealed:hover {
  background-color: hsl(141, 60%, 80%) !important;
}

.cell > * {
  opacity: 0;
}

.cell--revealed > * {
  opacity: 1 !important;
}

.cell--flaged > * {
  font-size: calc(var(--cell-dimension) * 0.5);
  color: #d36135;
  opacity: 1 !important;
}